body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-width: 390px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: black; */
    justify-content: center;
    background: linear-gradient(to right, #FFA500, #FF7F00);
    /* This is a shade of orange, reminiscent of autumn leaves. */
    /* padding: 20px; */
    /* border-radius: 10px; */
}

.app {
    padding: 10px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    min-width: 390px;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    background: url('snow.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 10px; */
    box-shadow: rgba(0, 0, 0, 1.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.app__title {
    font-size: 20px;
    padding: 7px;
    letter-spacing: 2px;
    background: linear-gradient(to right, #ff7700, #e24c4c);
    -webkit-background-clip: text;
    /* For compatibility with some browsers */
    background-clip: text;
    color: transparent;
    margin-bottom: 30px;
    /* Make the text transparent */
}

.app__your-task {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 5px;
    gap: 20px;
    align-items: center;
}

.app__your-task input {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    align-items: center;
    padding-left: 20px;
    min-width: 225px;
    background: linear-gradient(to right, #f12711, #f5af19);
    color: #ffff;
}

.app__new-tasks {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 5px;
    gap: 20px;
    align-items: center;
}

.app__your-task input::placeholder {
    text-align: center;
    color: #fff;
}

.app__button {
    background: rgb(42, 87, 42);
    color: #fff;
    padding: 10px;
    outline: none;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.7s;
}

.app__button:hover {
    background: rgb(218, 233, 6);
    cursor: pointer;
}


/* new block from Js */

.add__tasks-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin-top: 10px;
    color: #fff;
    padding: 10px;
}

.add__tasks-text {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    align-items: center;
    padding-left: 20px;
    min-width: 200px;
    background: linear-gradient(to right, #f12711, #f5af19);
    color: #ffff;
}

.add__tasks--icon {
    font-size: 30px;
    color: red;
    margin-left: 50px;
}


/* alert box 
 */

.alert__box {
    display: none;
    width: 200px;
    font-size: 23px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to left, #f12711, #f5af19);
    color: #b7f707;
}

@media screen and (min-width: 414px) {
    /* Your CSS styles for the iPhone 11 or devices with a minimum width of 414px go here */
    .app {
        min-width: 414px;
    }
    /* For example, you can target specific elements or apply general styles */
}
